<?php
/**
 *  Project: KanFF
 *  File: Identifiants db et mode debug
 *  Author: YOU
 *  Creation date: DATE
 */
//TODO: remplir les informations ci-dessous, pour la base de données et la gestion du mode debug.
//Identifiants de la base de données:
$user = "";
$pass = "";
$dbhost = "";
$dbname = "";
//Mode debug:
$debug = false; // sert à choisir si les var_dump() seront affichés ou pas (voir helpers.php fonction displaydebug()...).
?>