# Dependency directories and files
node_modules/
package-lock.json

#phpStorm
.idea

#ngrok app and exe files
ngrok.exe
*.exe

#MacOS
.DS_Store

# personnel folder
perso/

# temp files
*.tmp
*.bak
$*.doc*
*.bin

# others files
.const.php
.*.php
.*.txt
*~*

*.pem
*.ppk
*.key

db/db-manage/create-db-kanff-ok.sql
db/db-manage/fill-data-db-kanff-ok.sql

# docs:
doc/img