/**
 *  Project: KanFF
 *  File: projects.css css file for projects pages
 *  Author: Team
 *  Creation date: 05.10.2020
 */

.statebanner {
    background-color: #0097ba;
    padding: 5px;
}

.oneLog:hover {
    background-color: #cbcbcb;
}

.divParticipate {

}

.divProject {
    padding: 10px;
    width: auto;
    min-width: 500px;
    flex: 1;
    margin: 5px;
    position: relative; /*to keep the button "See" in the div*/
    max-width: 850px;
    max-height: 250px;
    display: flex;
    flex-wrap: inherit;
}

.divProjectFirstLine {
    height: 175px;
}

.divProjectLastLine {
    height: 55px;
}

.txtFixedLines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

/*Kanban styles */

.divKanbanHeaderColumns {
    height: 40px;
}

.leftcolumn {

}

.middlecolumn {
    background-color: lightgrey;
}

.rightcolumn {

}