/**
 *  Project: KanFF
 *  File: projects.css css file for projects pages
 *  Author: Team
 *  Creation date: 05.10.2020
 */

.statebanner {
    background-color: #d1d5e4;
    padding: 5px;
    border-radius: 5px;
    height: 50px;
}

.oneLog:hover {
    background-color: #cbcbcb;
}

.projectpriority {
    height: 40px;
}

.divParticipate {

}

.divProject {
    padding: 10px;
    width: auto;
    min-width: 500px;
    flex: 1;
    margin: 5px;
    position: relative; /*to keep the button "See" in the div*/
    max-width: 850px;
    max-height: 250px;
    display: flex;
    flex-wrap: inherit;
}

.divProjectFirstLine {
    height: 175px;
}

.divProjectLastLine {
    height: 55px;
}

.txtFixedLines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

/*Kanban styles */

.divHeader {
    position: fixed;
    width: 100%;
    background-color: #e2e7f0;
    z-index: 10;
    top: 75px;
    box-shadow: 0px 1px 5px 2px #00000061;
    margin-left: -.25rem !important;
    margin-right: -.25rem !important;
}

.divKanban {
    margin-top: 52px;
    width: 70%;
    padding-right: 5px;
}

.withoutdetails {
    width: 100% !important;
    padding: 0px !important;
}

.divKanbanHeader {
    height: 40px;
}

.divKanbanHeaderAndContent {
    margin-top: 4px;
}

.leftcolumn {

}

.middlecolumn {
    background-color: #d3d3d3d6;
}

.rightcolumn {

}

.divRightPanel {
    width: 30%;
    border-left: 2px solid lightgrey;
    height: 100%;
    background-color: #e2e7f0;
    right: 0;
    position: fixed;
    box-shadow: -2px 0px 10px #000000ed;
    z-index: 5;
}

.panelRightStandardHeader {
    padding-top: 6px;
    height: 46px;
    margin-right: -5px;
    margin-left: -5px;
    padding-right: 5px;
    padding-left: 5px;
    border-bottom: #929292 1px solid;
}

.divTaskDetailsFirstLine {
    height: 65px;
}

.panelRightStandardBottomLine {
    background-color: #e2e7f0;
    border-top: 1px solid #bababe;
    width: 30%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 5px;
}


.circle-redcross {
    border: 1px solid red;
    border-radius: 100px;
    margin: 5px;
}

.circle-redcross:hover {
    background-color: #ffdd00;
}

.icon-redcross {
    height: 14px;
    width: 14px;
    margin: 8px;
}

.circle-responsible {
    font-weight: bold;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 1em;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #1587ff;
    display: flex;
}

.divResponsible {
    height: 45px;
}

.btnSaveCancel {
    width: 150px;
    height: 40px;
    border: 1px grey solid;
    margin: 0px 5px;
}

.colorCancel {
    background-color: floralwhite;
}

.colorCancel:hover {
    background-color: #f6ebb6;
}

.colorSave {
    background-color: #74f674;
}

.colorSave:hover {
    background-color: #2ad92a;

}

.divInRightPanel {
    padding: 0px 5px 0px 5px;
}

.jsTempMsg {
    margin-bottom: 5px;
    background-color: #e8edff;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 1px 2px 2px #0000006e;
    padding: 2px;
    width: 300px;
    max-height: 60px;
    word-break: break-word;
    transition: visibility 2s linear 0.7s, opacity 0.7s ease-in-out;
}

.jsTempMsg.visible {
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

.jsTempMsg.hidden {
    opacity: 0;
    visibility: hidden;
}

.msgText {
    font-size: 0.8em;
}