/**
 *  Project: KanFF
 *  File: styles.css global css
 *  Author: Team
 *  Creation date: 26.04.2020
 */

.versiontext {
    font-size: 0.7em;
    color: black;
    margin-left: 5px;
    padding: 0;
}

.appbody {
    height: 100%;
}

.margintopforheader {
    margin-top: 75px;
}

.appbodyrestrict {
    max-width: 750px;
}

.logo {
    height: 59px;
    margin: 2px 4px;
}

.logoLog {
    width: 500px;
    text-align: center;

}

.logodiv {
    float: left;
    width: 450px;
    height: 75px;
}

.gauche {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    background-color: #D9DBE5;

}

.menu {
    margin: auto;
    width: auto;
}

.user {
    float: right;
    width: auto;
    font-size: 25px;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 75px;
    text-align: left;
}

li {
    float: left;
    height: 100px;
    font-size: 25px;
    text-align: left;
}

li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    height: 100px;
}

.active {
    background-color: #ffb400;
}

li a:hover {
    background-color: #ffb400;
    height: 100px;
    color: black;
    text-decoration: none;
}

.logocenter {
    align-content: center;
}


body {
    font-family: Verdana, Sans-serif;
    background-color: #e2e7f0;
    overflow-x: hidden
}

.header-fixed {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0 5px 5px rgba(57, 44, 12, 0.54);
}

.bg-header {
    background-color: #ffc437;
    /*
     gris vert: #b3d59c
     gris bleu: #cdced0
     gris bleu clair: #e2e7f0
     gris orange: #E5E2D9
     orange fort: #ffc437
     orange max pour hover: #ffb400
    */
}

.bell {
    height: 60px;
}

.fullwidth {
    width: 100%;
}

.alignright {
    text-align: right;
}

.aligncenter {
    text-align: center;
}

.infotext {
    color: #1d1919;
    font-size: 1.1em;
    font-style: italic;
    font-family: Arial, serif;
}

.rowtest {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.alignverticalcenter {
    vertical-align: center;
}

.marginauto {
    margin: auto;
}

select {
    font-size: 1.2em;
    max-width: 400px;
}

label {
    margin-left: 10px;
    margin-right: 10px;
}

.box-alignright {
    justify-content: end;
    display: flex;
}

.box-aligncenter {
    justify-content: center;
    display: flex;
}

.smalltextinput {
    width: 100%;
    max-width: 300px;
}

.redCounter {
    color: #ff3300;
}

.collectivename {
    font-size: 1.3em;
    height: 75px;
    color: black;
    width: 100%;
}

.flexdiv {
    display: flex;
}

.lineheigthsmall {
    line-height: 0.2rem;
}

.box-verticalaligncenter {
    display: flex;
    align-items: center;
}

.header-height {
    height: 75px;
}

.usericon {
    display: flex;
    align-items: center;
    height: 75px;
}

.circle-usericon {
    font-weight: bold;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 1.2em;
    height: 68px;
    width: 68px;
    border-radius: 50%;
    background-color: #1587ff;
    display: flex;
}

.fullname {
    max-width: 300px;
    max-height: 75px;
    width: auto;
    overflow: hidden;
    word-wrap: break-word;
}

.icon-simple {
    width: 35px;
    margin: 5px;
}

.linkExternal {
    text-decoration: none;
    color: #896b01;
}

.linkExternal:hover {
    text-decoration: none;
    color: #0097ba;
}

/*classes for background and text color with colors of the logo. see colors.txt for more details.*/
.darkbluelogo {
    background-color: #38417f;
}

.lightbluelogo {
    background-color: #4fb6e3;
}

.greenlogo {
    background-color: #348a19;
}

.txtdarkbluelogo {
    color: #38417f;
}

.txtlightbluelogo {
    color: #4fb6e3;
}

.txtgreenlogo {
    color: #348a19;
}

.yellowheader {
    background-color: #ffc437;
}

.yellowligthheader {
    background-color: rgba(255, 196, 55, 0.77);
}

.yellowveryligthheader {
    background-color: rgba(255, 196, 55, 0.21);
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.clickable:hover {
    background-color: #4fb6e382;
}

tr {
    border: solid 2px #cecece;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-4 {
    flex: 4;
}