/**
 *  Project: KanFF
 *  File: styles.css global css
 *  Author: Team
 *  Creation date: 26.04.2020
 */

.formlog {
    min-width: 500px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.0rem
}
@media (max-width: 500px) {
    .formlog {
        min-width: 90%;
    }
}