/**
 *  Project: KanFF
 *  File: tasks.css css file for task view in projects pages
 *  Author: Team
 *  Creation date: 12.10.2020
 */

.divTask {
    height: 120px;
    width: 120px;
    margin: 5px;
    padding: 5px;
    background-color: #ffc437e3;
    flex-wrap: inherit;
    font-size: 0.75rem;
    border-radius: 5px;
    border: 1px solid #0000003d;
}

.divTask:hover {
    background-color: #ffb400f0;
}

.divTaskNumber {
    height: 20px;
}

.divTaskName {
    height: 70px;
}

.divTaskBottomLine {
    height: 20px;
    padding-top: 0px;
}

.icon-task {
    width: 17px;
    height: 17px;
    margin: 1px;
}

.icon-task-triangle {
    width: 13px;
    height: 13px;
    margin: 1px;
}

.divTaskPlusButton {
    min-height: 46px;
    min-width: 46px;
    height: 120px;
    width: 120px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #0000003d;
}

.divTaskPlusButton:hover{
    background-color: #d9dbdf;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.divTaskPlusButtonIcon{
    height: 23px;
    width: 23px;
}

.divTaskUserMentionEllipsis {
    font-family: Consolas, Sans-serif, fantasy;
    font-size: 1.2em;
    background: #d59500;
    border-radius: 50px;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 31px;
    padding-right: 3px;
    padding-left: 3px;
}

.txtMentionOnTask {
    color: white;
}

.divTaskDropdownOptions{
    width: 200px;
    background-color: #e2e7f0   ;
}

.divTaskDropdownOption{
    cursor: pointer;
}

.divTaskDropdownOption:hover, .divTaskDropdownOption:active{
    background-color: #d5d6d7;
    color: black;
}