/**
 *  Project: KanFF
 *  File: tasks.css css file for task view in projects pages
 *  Author: Team
 *  Creation date: 12.10.2020
 */

.divTask{
    height: 120px;
    width: 120px;
    margin: 5px;
    padding: 5px;
    background-color: #ffc437e3;
    flex-wrap: inherit;
    font-size: 0.8em;
    border-radius: 5px;
}