/**
 *  Project: KanFF
 *  File: works.css css file for work view in projects pages
 *  Author: Team
 *  Creation date: 12.10.2020
 */

.divWorkHeader {
    height: 40px;
    background-color: #e3e4e6;
    padding: 5px;
}

.divWork {
    height: 200px;
    margin-top: 5px;
    background-color: transparent;
}

.divWorkContent {
    min-height: 150px;
}