<?php
/**
 *  Project: KanFF
 *  File: Database informations and debug mode
 *  Author: YOU
 *  Creation date: DATE
 */
//TODO: Fill the following informations for the database and the debug mode, and rename the file ".const.php.example" in ".const.php".

//Database informations
$user = "";
$pass = "";
$dbhost = "";
$dbname = "";
//Mode debug:
$debug = false; // enable or disable the debug mode (display var_dump(), ... if enabled).
?>